<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>test1</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJ2MirKIaBXGNzwUphgiUc6CRMh4lJJC8&sensor=false"> 
     &sensor=false&libraries=weather"
   </script>
   -->
    <style>

        #map{
            height:  300px;
            background: red;
        }
        #map-canvas{
            width: 100%;
            height: 300px;
        }
    </style>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container">       
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
            </div>
        </div>
        <div class="models"></div>
        <script type="text/template" id="tab-links">
        <li class="<%=  (active)? 'active':'' %>" ><a href="#form-<%=  id %>" role="tab" data-toggle="tab"> <%=  name.replace(/\_/g," ") %></a></li>           
        </script>
        <script type="text/template" id="tab-content">
            <div class="tab-pane <%= (active)? 'active':'' %>" id="form-<%= id %>">
                <h3>Start destination</h3>
                <select multiple  id="start" class="form-control start">
                    <% _.each(destination, function(destination) { %>  
                        <option value="<%= destination %>"><%= destination.replace(/\_/g, " ") %></</option> <% 
                    }); %>
                </select>
                <h3>Finish destination</h3>
                <select multiple  id="start" class="form-control start">
                    <% _.each(destination, function(destination) { %>  
                        <option value="<%= destination %>"><%= destination.replace(/\_/g, " ") %></</option> <% 
                    }); %>
                </select>
                <h3>People</h3>
                <table class="table table-hover">
                    <tr>
                      <td>Adults</td>
                      <td>Children</td>
                      <td>babys</td>
                    </tr>
                    <tr>
                    <% _.each(_.pairs( people ), function(people) { %> 
                        <td><input class="form-control" type="number" value="<%= people[1] %>" id="people" data-person="<%= people[0] %>" min="0" max="20"></td>
                     <% });%>
                    </tr>

                </table>
                <h3>Transport</h3>
                <input type="text" id="disabledTextInput" class="form-control" disabled value="<%= transport %>">

                <h3>Other stuff</h3>
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#restarount">
                  <span class="glyphicon glyphicon-glass"></span> 
                </button>
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#hotels">
                  <span class="glyphicon glyphicon-home"></span> 
                </button>
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#escorsions">
                  <span class="glyphicon glyphicon-camera"></span> 
                </button>
            </div>
        </script>
        <script type="text/template" id="modal-form">
            <!-- Modal -->
            <div class="modal fade" id="<%= name %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel"><%= name %></h4>
                  </div>
                  <div class="modal-body">
                  <h3>Please choose places</h3> 
                    <select multiple  id="canVisit" class="form-control start">
                        <% _.each(collection, function(data) { %>  
                            <p><%= data.toString() %><p>
                        <% }); %>
                    </select>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
        </script>






        <!-- build:js scripts/main.js -->
        <script data-main="scripts/main" src="bower_components/requirejs/require.js"></script>
        <!-- endbuild -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script>
            var event = $("select#citys"),
            body = $(".bodyCity");
                event.on('click', function (value) {
                    var value = value.currentTarget.value;
                    if (value !== "") {
                        var city = window.ljubljana.hotels[value];
                        body.append("<p>",{text:"bla"});

                    };
                })
        </script>
</body>
</html>
